# NEXT AUTH MODULE CONFIG
AUTH_SECRET=SuperSecret

# DATABSE DATA CONFIG
DATABASE_URL=<protocol>://<username>:<password>@<host>:<port>/<database-name>
RESET_DB=
TEST_DATABASE_URL=

# SMTP DATA CONFIG
EMAIL_FROM=from@example.com
EMAIL_SERVER_HOST=sandbox.smtp.mailtrap.io 
EMAIL_SERVER_PASSWORD=e27*******c87
EMAIL_SERVER_PORT=2525
EMAIL_SERVER_USER=44b**********1b5


# REDIS DATA CONFIG
REDIS_URL=redis[s]://[[username][:password]@][host][:port][/db-number]

# S3 DATA CONFIG
S3_ACCESS_KEY=
S3_BUCKET=
S3_ENDPOINT=
S3_REGION=
S3_SECRET_KEY=
S3_TEMP_UPLOAD_PREFIX=


# ENV RUNNING MODE
NODE_ENV="example"
